<div class="container-sm border rounded-3 border-danger-subtle bg-warning-subtle text-center mt-4"
    style="width: 50%; height: auto">
    <h1 class="title">Liste des bases lunaires</h1>
    @if (connected()) {
    <button type="button" class="btn btn-success m-2" (click)="addBase()">
        <i class="bi bi-plus-square"></i> Nouvelle base
    </button>
    }
</div>
<div class="container mt-4">
    <div class="rounded-3 shadow overflow-hidden">
        <table class="table table-hover table-bordered align-middle mb-0">
            <thead class="table-dark text-center">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Secteur</th>
                    <th>Position X</th>
                    <th>Position Y</th>
                    <th>Capacité max</th>
                    <th>Équipage actuel</th>
                    <th>Consulter</th>
                    @if (connected()) {
                    <th>Éditer</th>
                    <th>Supprimer</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (base of allBases(); track base.lunarBaseId; let isEven = $even) {
                <tr app-lunar-base-list-item [base]="base" class="text-center" [class.table-primary]="isEven"
                    [class.table-info]="!isEven"></tr>
                }
            </tbody>
        </table>
    </div>
</div>
